# --- Виртуальное окружение ---
venv/
.venv/

# --- Конфигурационные файлы ---
.env

# --- Скачанные файлы и кеш ---
downloads/
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Системные каталоги и IDE ---
.vscode/
.idea/
.DS_Store

# --- Логи ---
*.log
logs/
